<div class="box">
    
  <div class="box-header">

    <div class="row">
        <div class="col-sm-5">
            <a class="btn" href="{:url('userspecialAdd')}"><i class="fa fa-plus"></i> 新 增</a>
            
            <!--<ob_link><a class="btn export" url="{:url('exportMemberList')}"><i class="fa fa-download"></i> 导 出</a></ob_link>-->   
        </div>
        
        <div class="col-sm-7">
            <div class="box-tools search-form pull-right">
                <div class="input-group input-group-sm">
                    
                    <input type="text" name="search_data" style="width: 200px;" class="form-control pull-right" value="{:input('search_data')}" placeholder="会员帐号">

                    <div class="input-group-btn">
                      <button type="button" id="search"  url="{:url('userspecialList')}" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                    </div>

                </div>
           </div>
        </div>
    </div>
    
  </div>
    
    
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>用户帐号</th>
          <th >状态</th>
          <th>添加时间</th>
          <!--<th >更新时间</th>-->
<!--          <th>操作</th>       -->
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.username}</td>
                  <td><ob_link><a class="ajax-get" href="{:url('setStatus', array('ids' => $vo['id'], 'status' => (int)!$vo['status']))}"><span class="badge bg-{$vo.status}">
                           {$status[$vo.status]}
                          </span></a></ob_link></td></a></ob_link></td>
                  <!--<td>{$vo.create_time}</td>-->
                  
                  <td>{:date('Y--m-d H:i:s',$vo[create_time])}</td>
                  <!--<td>{:date('Y--m-d H:i:s',$vo[update_time])}</td>-->
<!--                  <td class="col-md-3 text-center">
                      <ob_link><a href="{:url('lessonEdit', array('id' => $vo['id']))}" class="btn"><i class="fa fa-edit"></i> 编 辑</a></ob_link>
                      &nbsp;
                      <ob_link><a class="btn"  href="{:url('profitInfo', array('id' => $vo['id']))}"><i class="fa fa-user-plus"></i>详 情</a></ob_link>
                      &nbsp;
                      <ob_link><a class="btn confirm ajax-get"  href="{:url('memberDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a></ob_link>
                  </td>-->
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>
 <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>
  

</div>

<script>
    //导出功能
    $(".export").click(function(){
        
        window.location.href = searchFormUrl($(".export"));
    });
</script>